body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: SF Pro Text, SF Pro Icons, Helvetica Neue, Helvetica, Arial, sans-serif;
}

.main_nav {
  width: 100%;
  max-width: 1622px;
  margin: auto;
}

.nav_content {
  margin: 0 50px;
  height: 50px;
  border-bottom: 2px solid #ddd;
  @media screen and (max-width: 833px) {
    display: none;
    visibility: hidden;
  }
}

.nav_container {
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin: 0 35px;
}

.nav_item {
  height: 100%;
  display: flex;
  align-items: center;
  font-size: 23px;
  color: #bbb;
  cursor: pointer;
  white-space: nowrap;
  //Disabling this transition fixes resizing issues;
  /*transition: font-size .4s ease-in-out;
  -webkit-transition: font-size .4s ease-in-out;*/
  @media screen and (max-width: 1024px) {
    font-size: 18px;
  }
}

.nav_item:hover, .nav_item:focus, .nav_item:focus-visible {
  color: #589ed3;
}

.nav_item.active {
  color: #000;
}

.underline {
  width: 50px;
  height: 2px;
  background: black;
  transition: .4s ease-in-out;
  -webkit-transition: .4s ease-in-out;
  display: none;
}
