//apple breakpoint is 833px
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: SF Pro Text, SF Pro Icons, Helvetica Neue, Helvetica, Arial, sans-serif;
}

//colors black, hover #06c, or #589ed3; underline #ddd // mighht be #bbb

.main_nav {
  width: 100%;
  max-width: 1622px;
  margin: auto;
}

.nav_content {
  margin: 0 50px;
  height: 50px;
  border-bottom: 2px solid #ddd;
  @media screen and (max-width: 833px) {
    display: none;
    visibility: hidden;
  }
}

.nav_container {
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin: 0 35px;
}

.nav_item {
  height: 100%;
  display: flex;
  align-items: center;
  font-size: 23px;
  color: #bbb;
  cursor: pointer;
  white-space: nowrap;
  transition: font-size .4s ease-in-out;
  -webkit-transition: font-size .4s ease-in-out;
  @media screen and (max-width: 1024px) {
    font-size: 18px;
  }
}

.nav_item:hover, .nav_item:focus, .nav_item:focus-visible {
  color: #589ed3;
}

.nav_item.active {
  color: #000;
}

.underline {
  width: 50px;
  height: 2px;
  background: black;
  transition: .4s ease-in-out;
  -webkit-transition: .4s ease-in-out;
  display: none;
}

/* =============== Mobile Menu Start =============== */

.mobile_menu {
  border-bottom: 2px solid #ddd;
  height: 50px;
  position: relative;
  @media screen and (min-width: 833px) {
    display: none;
    visibility: hidden;
  }
}

.selected_city_mobile {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  width: fit-content;
  height: fit-content;
  text-align: center;
  font-size: 23px;
  display: inline-block;
  font-weight: normal;
}

.hamburger_lines {
  height: 50px;
  width: 50px;
  position: absolute;
  right: 0;
  z-index: 20;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  cursor: pointer;
}

.line {
  display: block;
  height: 2px;
  width: 50%;
  border-radius: 10px;
  background: black;
  transition: transform 0.4s ease-in-out;
  -webkit-transition: transform 0.4s ease-in-out;
}

.menu_items {
  padding-top: 50px;
  background: #fff;
  z-index: 10;
  height: 100vh;
  width: 100%;
  transform: translate(0, -150%);
  display: flex;
  flex-direction: column;
  transition: transform 0.5s ease-in-out;
  -webkit-transition: transform 0.5s ease-in-out;
  text-align: center;
  visibility: hidden;
  //todo check these values
}

.checkbox {
  position: absolute;
  display: inline-block;
  height: 50px;
  width: 50px;
  right: 0;
  z-index: 30;
  opacity: 0;
  margin: 0;
  cursor: pointer;
}

input[type='checkbox']:checked ~ .menu_items {
  visibility: visible;
  transform: translateY(0);
}

input[type='checkbox']:checked ~ .hamburger_lines .line1 {
  transform: rotate(45deg) translate(7px, 6px);
}

input[type='checkbox']:checked ~ .hamburger_lines .line2 {
  transform: rotate(-45deg) translate(7px, -6px);
}

.nav_item_mobile {
  font-size: 28px;
  padding: 5px 48px;
  display: inline-block;
  width: fit-content;
  color: #bbb;
  transition: .3s ease-in-out;
  -webkit-transition: .3s ease-in-out;
  cursor: pointer;
}

.nav_item_mobile.active {
  font-size: 32px;
  color: black;
}

.nav_item_mobile:hover, .nav_item_mobile:focus-visible, .nav_item_mobile:focus {
  color: #589ed3;
}

//todo use css variables
